.utabs.active {
    outline: var(--outline-pink);
    background-color: var(--activeButton);
    border-radius: 8px;
    color: white;
}

.utabs {
    background: linear-gradient(45deg, #ffbe00, transparent);
    border-radius: 8px;
    color: #c5c5c5;
}