.home_main_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.home_main_buttons > a {
    width: 450px;
    height: 320px;
    padding-top: 5px;
    border-radius: 8px;
    background: var(--button-gradient);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.home_main_buttons > a:hover {
    transform: scale(1.05);
}

.home_main_buttons img, .home_main_buttons span {
    transition: all 0.2s ease-in-out;
}

.home_main_buttons img {
    object-fit: contain;
}

.home_main_buttons > a:hover img, .home_main_buttons > a:hover span {
    transform: scale(1.05);
}

.home_main_buttons > a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: 8px;
    background: var(--button-gradient-hover);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

.home_main_buttons > a:hover:after {
    opacity: 1;
}